{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h3 class="text-center">
            {{ 'Welcome'|trans }}
            {% if app.user.role == 'ROLE_ADMIN' %}
                {{ 'Administrator'|trans }}
            {% elseif app.user.role == 'ROLE_USER' %}
                {{ 'User'|trans }}
            {% endif %}
        </h3>
        <h2 class="text-center">{{ app.user.username }}</h2>
    </div>
{% endblock %}